body {
    background: white;
  }

  header {
      background: lightgreen
  }

  p {
      margin-right: 600px
  }

  footer {
      background: lightgreen
  }

  img {
    border: 5px solid #555;
  }